## Analysis notebook for HW1

In [1]:
import os
import sys
import nstrace # nstrace module 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
### if no PyGnuplot module
!pip install PyGnuplot

Collecting PyGnuplot
  Downloading https://files.pythonhosted.org/packages/54/82/3247821d4c0aac68cad23649add1ab421fa12bb8bf4d0468a00c1b8d7df9/PyGnuplot-0.11.16.tar.gz
Building wheels for collected packages: PyGnuplot
  Building wheel for PyGnuplot (setup.py) ... done
  Created wheel for PyGnuplot: filename=PyGnuplot-0.11.16-cp36-none-any.whl size=4490 sha256=6fb80fbf465d0d3d52aa8965f4b915c1c490b26ad09d0240b32fcba0b32c67ca
  Stored in directory: /home/tkurihana/.cache/pip/wheels/df/4c/cb/d2da508081e226d79c0c27ebf2d9e975e6a840a9c9b8e02c40
Successfully built PyGnuplot
Installing collected packages: PyGnuplot
Successfully installed PyGnuplot-0.11.16

In [3]:
import PyGnuplot as gp

In [4]:
import pandas as pd

####  Practice: Read files

In [7]:
data = pd.read_table("./reno_reno/out_0.1Mb.tr",header=None,sep=' ',)

In [10]:
data.columns = ['event', 'time', 'from node', 'to node', 
              'pkt type', 'pkt size', 'flags', 'fid', 
              'src addr', 'dst addr', 'seq num', 'pkt id']

In [11]:
data

,event,time,from node,to node,pkt type,pkt size,flags,fid,src addr,dst addr,seq num,pkt id
0,+,0.500000,0,1,tcp,40,-------,0,0.0,3.0,0,0
1,-,0.500000,0,1,tcp,40,-------,0,0.0,3.0,0,0
2,+,0.500000,4,1,tcp,40,-------,1,4.0,5.0,0,1
3,-,0.500000,4,1,tcp,40,-------,1,4.0,5.0,0,1
4,r,0.510032,0,1,tcp,40,-------,0,0.0,3.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2077,+,10.476784,1,2,tcp,1000,-------,0,0.0,3.0,65,238
2078,r,10.482752,3,2,ack,40,-------,0,3.0,0.0,63,239
2079,+,10.482752,2,1,ack,40,-------,0,3.0,0.0,63,239
2080,-,10.482752,2,1,ack,40,-------,0,3.0,0.0,63,239
2081,-,10.491920,1,2,tcp,1000,-------,1,4.0,5.0,40,233

- Extract rows where loss/drop packet happened

In [16]:
drops = data[data['event'] == 'd']

In [17]:
drops

,event,time,from node,to node,pkt type,pkt size,flags,fid,src addr,dst addr,seq num,pkt id
170,d,1.202992,1,2,tcp,1000,-------,0,0.0,3.0,8,22
193,d,1.282992,1,2,tcp,1000,-------,0,0.0,3.0,10,25
216,d,1.362992,1,2,tcp,1000,-------,0,0.0,3.0,12,28
239,d,1.442992,1,2,tcp,1000,-------,0,0.0,3.0,14,31
262,d,1.522992,1,2,tcp,1000,-------,1,4.0,5.0,8,34
285,d,1.602992,1,2,tcp,1000,-------,1,4.0,5.0,10,37
308,d,1.682992,1,2,tcp,1000,-------,1,4.0,5.0,12,40
331,d,1.762992,1,2,tcp,1000,-------,1,4.0,5.0,14,43
354,d,1.842992,1,2,tcp,1000,-------,0,0.0,3.0,16,46
431,d,2.162992,1,2,tcp,1000,-------,1,4.0,5.0,16,55
976,d,5.598384,1,2,tcp,1000,-------,1,4.0,5.0,21,116
1035,d,5.837584,1,2,tcp,1000,-------,0,0.0,3.0,31,123
1598,d,8.317584,1,2,tcp,1000,-------,1,4.0,5.0,33,186
1783,d,9.117584,1,2,tcp,1000,-------,0,0.0,3.0,56,207

- Extract number of "ack" packet (col name == 'pkt type')

In [18]:
acks = data[data['pkt type'] == 'ack']

In [19]:
acks

,event,time,from node,to node,pkt type,pkt size,flags,fid,src addr,dst addr,seq num,pkt id
17,+,0.573264,3,2,ack,40,-------,0,3.0,0.0,0,2
18,-,0.573264,3,2,ack,40,-------,0,3.0,0.0,0,2
20,+,0.576464,5,2,ack,40,-------,1,5.0,4.0,0,3
21,-,0.576464,5,2,ack,40,-------,1,5.0,4.0,0,3
22,r,0.583296,3,2,ack,40,-------,0,3.0,0.0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
2074,+,10.472720,3,2,ack,40,-------,0,3.0,0.0,63,239
2075,-,10.472720,3,2,ack,40,-------,0,3.0,0.0,63,239
2078,r,10.482752,3,2,ack,40,-------,0,3.0,0.0,63,239
2079,+,10.482752,2,1,ack,40,-------,0,3.0,0.0,63,239
2080,-,10.482752,2,1,ack,40,-------,0,3.0,0.0,63,239

- Get packet loss rate  
$$ \text{loss rate} = \frac{\text{\# of drops}}{\text{\# of acks}} $$

In [22]:
loss_rate = len(drops)/len(acks)*100 
loss_rate

1.407035175879397

- Get average bandwidth
$$ \text{Avg. Bandwidth} = \frac{ \text{\# of ack packets}}{ \text{time} } [packet / sec] $$

In [27]:
avg_bandwidth = acks[acks['event'] == 'r']['pkt size'].sum()/10
print(" Average bandwidth == {} [packets/sec]".format(avg_bandwidth))

 Average bandwidth == 1324.0 [packets/sec]

In [28]:
avg_bandwidth/8,

165.5

- gnuplot with python

#### Workflow
1. Load 2 'tcp' files; 1 is for Node 1--> Node 4, 5 is Node 5--> Node 6.  
2. get df array which only has "time:" and 'cwnd:'
3. Save them in tmp files
4. Load these files by PyGnuplot and Draw

In [49]:
node1 = pd.read_table("./reno_reno/out_0.1Mb_1.tcp",header=None,sep="\s*", error_bad_lines=False)

/home/tkurihana/.conda/envs/tf-cpu/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [50]:
node1.drop(node1.columns[[ i for i in range(0,30,2)]], axis=1, inplace=True)

In [52]:
node1.columns= [
    "time", "saddr", "sport", "daddr", "dport", "maxseq", "hiack", "seqno", 
    "cwnd", "ssthresh", "dupacks", "rtt", "srtt", "rttvar", "bkoff"
]

In [53]:
node1

,time,saddr,sport,daddr,dport,maxseq,hiack,seqno,cwnd,ssthresh,dupacks,rtt,srtt,rttvar,bkoff
0,0.00000,0,0,3,0,-1,-1,0,1.000,20,0,0.00,0.00,12.000,1
1,0.64653,0,0,3,0,0,0,1,2.000,100,0,0.14,0.14,0.070,1
2,0.87139,0,0,3,0,2,1,3,3.000,100,0,0.23,0.15,0.075,1
3,0.95139,0,0,3,0,4,2,5,4.000,100,0,0.23,0.15,0.075,1
4,1.19139,0,0,3,0,6,3,7,5.000,100,0,0.32,0.17,0.100,1
5,1.27139,0,0,3,0,8,4,9,6.000,100,0,0.32,0.17,0.100,1
6,1.35139,0,0,3,0,10,5,11,7.000,100,0,0.32,0.17,0.100,1
7,1.43139,0,0,3,0,12,6,13,8.000,100,0,0.32,0.17,0.100,1
8,1.83139,0,0,3,0,14,7,15,9.000,100,0,0.64,0.23,0.193,1
9,2.07139,0,0,3,0,18,7,19,4.500,4,3,0.64,0.23,0.193,1
10,2.71139,0,0,3,0,18,9,19,4.722,4,0,0.64,0.23,0.193,1
11,3.71139,0,0,3,0,18,9,19,1.000,2,0,0.64,0.23,0.193,1
12,3.93626,0,0,3,0,18,11,12,2.000,2,0,0.64,0.23,0.193,2
13,4.16112,0,0,3,0,18,13,14,2.500,2,0,0.64,0.23,0.193,2
14,4.38598,0,0,3,0,18,15,17,2.900,2,0,0.64,0.23,0.193,2
15,4.62598,0,0,3,0,18,18,19,3.245,2,0,0.64,0.23,0.193,2
16,5.02598,0,0,3,0,23,19,24,3.553,2,0,0.40,0.25,0.188,1
17,5.10598,0,0,3,0,23,20,24,3.834,2,0,0.40,0.25,0.188,1
18,5.18598,0,0,3,0,23,21,24,4.095,2,0,0.40,0.25,0.188,1
19,5.26598,0,0,3,0,25,22,26,4.339,2,0,0.40,0.25,0.188,1
20,5.34598,0,0,3,0,26,23,27,4.570,2,0,0.40,0.25,0.188,1
21,5.66598,0,0,3,0,27,24,28,4.789,2,0,0.48,0.28,0.200,1
22,5.74598,0,0,3,0,28,25,29,4.998,2,0,0.48,0.28,0.200,1
23,5.82598,0,0,3,0,29,26,30,5.198,2,0,0.48,0.28,0.200,1
24,5.90598,0,0,3,0,31,27,32,5.390,2,0,0.48,0.28,0.200,1
25,6.30598,0,0,3,0,32,28,33,5.576,2,0,0.64,0.32,0.240,1
26,6.38598,0,0,3,0,33,29,34,5.755,2,0,0.64,0.32,0.240,1
27,6.46598,0,0,3,0,34,30,35,5.929,2,0,0.64,0.32,0.240,1
28,6.86598,0,0,3,0,37,30,38,2.964,2,3,0.64,0.32,0.240,1
29,7.34598,0,0,3,0,38,37,39,3.302,2,0,0.64,0.32,0.240,1
30,7.50598,0,0,3,0,40,38,41,3.605,2,0,0.24,0.31,0.200,1
31,7.58598,0,0,3,0,41,39,42,3.882,2,0,0.24,0.31,0.200,1
32,7.66598,0,0,3,0,42,40,43,4.140,2,0,0.24,0.31,0.200,1
33,7.90598,0,0,3,0,44,41,45,4.381,2,0,0.40,0.32,0.173,1
34,7.98598,0,0,3,0,45,42,46,4.609,2,0,0.40,0.32,0.173,1
35,8.06598,0,0,3,0,46,43,47,4.826,2,0,0.40,0.32,0.173,1
36,8.14598,0,0,3,0,47,44,48,5.034,2,0,0.40,0.32,0.173,1
37,8.46598,0,0,3,0,49,45,50,5.232,2,0,0.56,0.35,0.190,1
38,8.54598,0,0,3,0,50,46,51,5.423,2,0,0.56,0.35,0.190,1
39,8.62598,0,0,3,0,51,47,52,5.608,2,0,0.56,0.35,0.190,1
40,8.70598,0,0,3,0,52,48,53,5.786,2,0,0.56,0.35,0.190,1
41,8.78598,0,0,3,0,53,49,54,5.959,2,0,0.56,0.35,0.190,1
42,9.10598,0,0,3,0,54,50,55,6.127,2,0,0.64,0.39,0.215,1
43,9.18598,0,0,3,0,56,51,57,6.290,2,0,0.64,0.39,0.215,1
44,9.26598,0,0,3,0,57,52,58,6.449,2,0,0.64,0.39,0.215,1
45,9.34598,0,0,3,0,58,53,59,6.604,2,0,0.64,0.39,0.215,1
46,9.42598,0,0,3,0,59,54,60,6.755,2,0,0.64,0.39,0.215,1
47,9.74598,0,0,3,0,60,55,61,6.903,2,0,0.64,0.42,0.225,1
48,9.98598,0,0,3,0,63,55,64,3.452,3,3,0.64,0.42,0.225,1

##### Get and Merge necessary columns

In [62]:
out1 = pd.merge(node1['time'], node1['cwnd'], left_index=True, right_index=True)

In [63]:
out1

       time   cwnd
0   0.00000  1.000
1   0.64653  2.000
2   0.87139  3.000
3   0.95139  4.000
4   1.19139  5.000
5   1.27139  6.000
6   1.35139  7.000
7   1.43139  8.000
8   1.83139  9.000
9   2.07139  4.500
10  2.71139  4.722
11  3.71139  1.000
12  3.93626  2.000
13  4.16112  2.500
14  4.38598  2.900
15  4.62598  3.245
16  5.02598  3.553
17  5.10598  3.834
18  5.18598  4.095
19  5.26598  4.339
20  5.34598  4.570
21  5.66598  4.789
22  5.74598  4.998
23  5.82598  5.198
24  5.90598  5.390
25  6.30598  5.576
26  6.38598  5.755
27  6.46598  5.929
28  6.86598  2.964
29  7.34598  3.302
30  7.50598  3.605
31  7.58598  3.882
32  7.66598  4.140
33  7.90598  4.381
34  7.98598  4.609
35  8.06598  4.826
36  8.14598  5.034
37  8.46598  5.232
38  8.54598  5.423
39  8.62598  5.608
40  8.70598  5.786
41  8.78598  5.959
42  9.10598  6.127
43  9.18598  6.290
44  9.26598  6.449
45  9.34598  6.604
46  9.42598  6.755
47  9.74598  6.903
48  9.98598  3.452

In [65]:
### Save to tmp file as txt
out1.to_csv("./reno_reno/_tmp_out_1Mb_1.out", sep=',', header=False)

In [75]:
### Plot all
gp.c('set title "cwnd N1 to N4 at 1Mb"; set xlabel "time [sec]"; set ylabel; "# of packets"')
gp.c('set datafile separator ","')
gp.c('plot "./reno_reno/_tmp_out_1Mb_1.out" u 2:3 w p')
gp.p('pygnu.eps')

-------------------
### Part 1